<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDPZxX7kPZ3M5jozVvo07-ftMeJl3pmOig</string>
	<key>GCM_SENDER_ID</key>
	<string>195990839533</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.technischerDienst</string>
	<key>PROJECT_ID</key>
	<string>technischerdienst-aea86</string>
	<key>STORAGE_BUCKET</key>
	<string>technischerdienst-aea86.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:195990839533:ios:bcdaa81a2c1b9ab313ace4</string>
</dict>
</plist>